$simpleButtonBg: #376bea;
$simpleButtonHoverBg: darken($simpleButtonBg, 5%);
$simpleButtonActiveBg: darken($simpleButtonBg, 10%);
$simpleBorderRadius: 40px;

.simpleButton {
  background-color: $simpleButtonBg;
  border-radius: $simpleBorderRadius;
  color: white;
  outline: none;
  border: none;
  font-size: 1.7rem;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $simpleButtonHoverBg;
  }

  &:active {
    background-color: $simpleButtonActiveBg;
  }
}
