@use "@styles/variables" as *;

.reviewsWrapper {
  padding: 0px 10px;
  height: 120px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.review {
  min-width: 300px;
  overflow: hidden;

  gap: 10px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
  }

  .rating {
    color: gold;
    font-size: 16px;
  }

  .rating-empty {
    color: grey;
    font-size: 16px;
  }

  &Content {

    div {
      padding: 5px 0px;
    }
  }
  .reviewComment {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    // max-width: 200px;
  }
}

.reviews {
  gap: 10px;
}