// colors
$dark-blue: #000783;
$light-pink: #fff6f6;
$white: #ffffff;
$black: #333;
$dark-pink: #fe8e9c;
$pink: #f06070;

// vars
$primary-bg: $light-pink;
$primary-text: $black;

$secondary-bg: $white;
$secondary-text: $dark-blue;

$highlight-bg: $dark-pink;
$highlight-text: $white;

// fonts
$primary-font: var(--font-afacad);
$secondary-font: var(--font-taiHeritagePro);

// spacings
$sideMargin: 4rem;
