.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &Item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid pink;
    border-top: 5px solid green;
    animation: spin 1s linear infinite;
  }
}
