---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Implants from "../components/Implants.astro";
import Results from "../components/Results.astro";
import About from "../components/About.astro";
import Reviews from "../components/Reviews.astro";
import Faq from "../components/Faq.astro";
import Visit from "../components/Visit.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Header />
  <main id="top">
    <Hero />
    <Services />
    <Implants />
    <Results />
    <About />
    <Reviews />
    <Faq />
    <Visit />
  </main>
  <Footer />
</Base>
