@use "@styles/variables" as *;

.bodyContainer {
  letter-spacing: 1px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  main {
    flex-grow: 1;
    overflow: hidden;
  }
  input,
  textarea,
  button {
    font-family: $primary-font;
  }
}
