@use "@styles/variables" as *;

.bodyContainer {
  letter-spacing: 1px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  color: $black;

  main {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
  }
  input,
  textarea,
  button {
    font-family: $primary-font;
  }
}

.mainBgImage {
  position: absolute;
  bottom: 0px;
  z-index: -1;
  opacity: 20%;
  max-height: 100%;
  left: 25%;
}
