@use "@styles/variables" as *;

$sb-track-color: $light-pink;
$sb-thumb-color: #ffd9de;
$sb-size: 10px;
$sb-border-radius: 12px;
$sb-border: 2px solid $sb-track-color;

/* Target all scrollable elements */
*::-webkit-scrollbar {
  width: $sb-size;
  height: $sb-size;
}

*::-webkit-scrollbar-track {
  background: $sb-track-color;
  border-radius: $sb-border-radius;
  border: 1px solid white;
}

*::-webkit-scrollbar-thumb {
  background: $sb-thumb-color;
  border-radius: $sb-border-radius;
  border: $sb-border;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: $sb-thumb-color $sb-track-color;
  }
}
